<div class="container">
<div class="row mt-4">
<div class="col-lg-1 col-12 mb-4">
    <a routerLink="/users" class="text-white">
        <button class="btn btn-primary">
            <mat-icon style="font-size: 28px;"> keyboard_backspace</mat-icon>
        </button>
    </a>    
</div>

<section class=" col-lg-11 col-12 row justify-content-center ">
        <div class="col-lg-4 col-md-6 col-10 card text-center">
            <div style="background-color: var(--second-main-bg-color);" class="card-img rounded-bottom-0 p-5 my-3">
                <img appPreloadimage defult='https://via.placeholder.com/150' [src]="user?.avatar" class="rounded-circle" alt="">
            </div>
                
            <div class="card-body mb-3 rounded-bottom-2 bg-primary">
            
                <p class="d-flex align-items-start justify-content-center gap-2" >
                    <mat-icon> account_box </mat-icon>
                    <small class="mt-1">
                        {{user?.id}}
                    </small>
                </p>
                <p class="d-flex align-items-start  justify-content-center gap-2" >
                    <mat-icon> person </mat-icon>
                    <small class="mt-1">
                        {{user?.first_name}}
                        {{user?.last_name}} 
                    </small>
                </p>

                <p class="d-flex align-items-start justify-content-center gap-2" >
                    <mat-icon> email </mat-icon>
                    <small class="mt-1">
                        {{user?.email}}
                    </small>
                </p>
            
            
        </div>
            
        </div>

    </section>
</div>
</div>
