*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family:  sans-serif;
    text-decoration: none !important;
    color: white;
    
}


:root{
--main-bg-color: #4e7ab5;
--second-main-bg-color: #ffd615;
--third-main-bg-color: #f3f4f6;
--card-height: 300px;
--card-width: calc(var(--card-height) / 1.5);

}
html,body {
    background-color: var(--third-main-bg-color);
}
