<div class="bg-primary">
    <nav class="container py-3 d-flex flex-lg-row flex-column align-items-center justify-content-between text-white" >
        <h3> Maids </h3>
        <h3> Users</h3>
        
        <div style="width: 200px;" >
            <div *ngIf="hideInput | async"  class="d-flex" >
                <div  (click)="showSearchfield()" class="rounded-circle border text-center p-2 mx-1"
                 style="width: 40px; height: 40px;" >
                    <mat-icon> search </mat-icon>
                </div>
                <div [appSearchfield]="searchVal" class="form-group transitions" style="width: 0px; overflow: hidden; " >
                    <input (blur)="showSearchfield()" type="text" class="form-control bg-transparent text-white"  placeholder="enter Id" (input)="sendingId(id.value)" #id> 
                </div>
            </div>
        </div>
    </nav>
</div>


